<a href="https://colab.research.google.com/github/Leegyuho2/ict002python/blob/main/w3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

name = input("이름: ")
korean = int(input("국어점수: "))
english = int(input("영어점수: "))
math = int(input("수학점수: "))
total = korean + english + math
avg = total / 3
if avg >=95:
    grade ='A+'
    print(f"{name}군의 총점은{total}점,평균은{avg:,.2f}점,학점은 {grade}학점입니다.")
elif avg>=90:
    grade ='A'
    print(f"{name}군의 총점은{total}점,평균은{avg:,2f}점,학점은 {grade}학점입니다.")
elif avg>=85:
    grade ='B+'
    print(f"{name}군의 총점은{total}점,평균은{avg:,.2f}점,학점은 {grade}학점입니다.")
elif avg>=80:
    grade ='B'
    print(f"{name}군의 총점은{total}점,평균은{avg:,.2f}점,학점은 {grade}학점입니다.")
elif avg>=75:
    grade ='C+'
    print(f"{name}군의 총점은{total}점,평균은{avg:,.2f}점,학점은 {grade}학점입니다.")
elif avg>=70:
    grade ='C'
    print(f"{name}군의 총점은{total}점,평균은{avg:,.2f}점,학점은 {grade}학점입니다.")
elif avg>=65:
    grade ='D+'
    print(f"{name}군의 총점은{total}점,평균은{avg:,.2f}점,학점은 {grade}학점입니다.")    
elif avg>=60:
    grade ='D'
    print(f"{name}군의 총점은{total}점,평균은{avg:,.2f}점,학점은 {grade}학점입니다.")
else:
    grade ='F'
    print(f"{name}군의 총점은{total}점,평균은{avg:,.2f}점,학점은 {grade}학점입니다.")

이름: 이규호
국어점수: 90
영어점수: 80
수학점수: 75
이규호군의 총점은245점,평균은81.67점,학점은 B학점입니다.

In [ ]:
a = int(input("어떤수"))
if a > 50:
  if a < 100:
    print("입력한 수(은,는)50보다는 크고 100보다는 작습니다")
  else:
    print('입력한수는 100보다 큽니다') 
else:
  print("입력한수는 50보다 큽니다")

어떤수85
입력한 수은(는)50보다는 크고 100보다는 작습니다

In [ ]:
a = int(input("어떤수"))
if a > 999:
  print("네 자리수 숫자입니다.")
elif a > 99:
  print('세 자리수 숫자입니다.') 
elif a > 9:
  print("두 자리수 숫자입니다.")
elif a < 9:
  print('한 자리수 숫자입니다.')
else:
  print("다시입력하시오.")

어떤수1
한 자리수 숫자입니다.

In [ ]:
fruit=['딸기','포도','망고','복숭아','수박']
if '딸기'in fruit:
  print("맛있는 딸기가 있습니다.")

맛있는 딸기가 있습니다.

In [ ]:
a = int(input("교수 교과목 코드: "))
b = ['1203','1250','1275','1290']
c = [1203,1250,1275,1290]
if a in b:
  if a == '1203':
# if a == 1203:
    print("과목명: 파이썬 프로그램")
  elif a == '1250':
    print("과목명: 컴퓨팅 사고")
  elif a == '1275':
    print("과목명: 빅 데이터")
  elif a == '1290':
    print("과목명: IoT") 
  else: 
    print("해당 강좌 없음")

교수 교과목 코드: 1290
IoT

In [ ]:
a=float(input())
if a<=50.80:
    print("Flyweight")
elif a<=61.23:
    print("Lightweight")
elif a<=72.57:
    print("Middleweight")
elif a<=88.45:
    print("Cruiserweight")
elif a>88.45:
    print("Heavyweight")

87.3
Cruiserweight

In [ ]:
a = int(input())
if(a==1)or(a==3)or(a==7)or(a==8)or(a==10)or(a==12):
  print(31)
elif a==2:
  print(28)
else:
  print(30)

2
28

In [ ]:
a = input("")
print ("1 :",a.count('1'))
print ("2 :",a.count('2'))
print ("3 :",a.count('3'))
print ("4 :",a.count('4'))
print ("5 :",a.count('5'))
print ("6 :",a.count('6'))

5 6 3 4 5 5 2 2 4 6
1 : 0
2 : 2
3 : 1
4 : 2
5 : 3
6 : 2

In [13]:
type = ['주택용','공업용','산업용']
type = input()
usage = int(input("사용량(kwh?) "))
if type == '주택용':
  print(f"용도1 사용량:{usage:,.2f},전기요금:{usage * 88+910:,.2f}원")
  if type == '공업용':
    print(f"용도2 사용량:{usage:,.2f},전기요금:{usage * 182+1600:,.2f}원 ")
    if type == '산업용':
      print(f"용도3 사용량:{usage:,.2f},전기요금:{usage * 275+7300:,.2f}원 ")

주택용
사용량(kwh?) 57
용도1 사용량:57.00,전기요금:5,926.00원

In [ ]:
a = int(input("소프트웨어설계: "))
b = int(input("소프트웨어개발: "))
c = int(input("데이터베이스구축: "))
d = int(input("프로그램언어 활용: "))
e = int(input("정보시스템구축 관리: "))
avg = (a + b + c + d + e) / 5
if avg >= 60:
  if a > 40 and b > 40 and c > 40 and d > 40 and e > 40: 
    print("합격입니다")
else:
  print("불합격입니다")

소프트웨어설계: 9
소프트웨어개발: 90
데이터베이스구축: 90
프로그램언어 활용: 90
정보시스템구축 관리: 99

In [ ]:
a = int(input("어떤수?"))
if(a%2==1):
  print(f"입력한수{a}는 홀수이다.")
else:
  print(f"입력한수{a}는 짝수이다.")

어떤수?3
입력한수3는 홀수이다.

In [ ]:
a = float(input("이번학기 학점:"))
if a >= 4.0:
  print("장학금 신청 대상")
else:
  print('장학금 학점 미달')

이번학기 학점:3.2
장학금 학점 미달