In [40]:
for i in [5,4,3,2,1]:
  print(i)

TypeError: ignored

In [37]:
[5,4,3,2,1].reverse()

None

In [13]:

for n in range(5):
  if n % 2==0:
    print("짝수입니다")
  else:
    print("홀수입니다")

짝수입니다
홀수입니다
짝수입니다
홀수입니다
짝수입니다

In [16]:
i = 0
sum = 0
for i in range(1,11,1):
  sum = sum+i
print("1에서 10까지의 자연수의 합: %d"%sum)

TypeError: ignored

In [33]:
odd_cnt =0
for i in range(5):
    num =int(input('어떤수:'))
    if num % 2 == 0:
      print(f'{num}는 짝수입니다')
    else:
      print(f'{num}는 홀수입니다')
      odd_cnt += 1

print(f'홀수의 개수:{odd_cnt}')

IndentationError: ignored

In [44]:
zoo = ["rabbit", "goat", "tiger", "lione","giraffe","zebra"]
zoo.reverse()
for i in zoo:
  print(i,end=" ")

zebra giraffe lione tiger goat rabbit

In [61]:
zoo = ["rabbit", "goat", "tiger", "lion","giraffe","zebra"]
zoo.reverse()
for i in zoo:
  print(i,":", len(i))

zebra : 5
giraffe : 7
lion : 4
tiger : 5
goat : 4
rabbit : 6

In [75]:
zoo = ["rabbit", "goat", "tiger", "lion","giraffe","zebra"]

for i in range(2):
  a = input("")
  if a not in zoo:
      print(f"{a}(은)는 동물원에 없습니다.")
  else:
    print(f"{a}(은)는 동물원에 있습니다.")

deer
deer(은)는 동물원에 없습니다.
lion
lion(은)는 동물원에 있습니다.

In [86]:
i = 0
while i < 5:
  i = i +1
  print("Python Program %d번 출력."% i)

Python Program 1번 출력.
Python Program 2번 출력.
Python Program 3번 출력.
Python Program 4번 출력.
Python Program 5번 출력.

In [90]:
num=int(input("원하는 단수를 입력하세요:")) 
n=1
while n<=9 : 
    print(num,"*",n,"=",num*n) 
    n+=1

원하는 단수를 입력하세요:5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

In [102]:
for i in range(1,6):
  for j in range(1,i+1):
    print(j,end="")
  print()

1
12
123
1234
12345

In [5]:
animal = ["dog","duck","pony","donkey","giraffe,","elepahnt", "cat"]
for i in range(len(animal)):
  if len(animal[i]) < 5:
    print(animal[i])

dog
duck
pony
cat

In [99]:
for i in range(1,6):
  print(str(i)* i)

1
22
333
4444
55555