<a href="https://colab.research.google.com/github/Leegyuho2/ict002python/blob/main/w6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for i in range(1,6):
  for j in range(1,i+1):
    print(j,end="")
  print()

1
12
123
1234
12345

In [ ]:
for i in range(5,0,-1):
  for j in range(i,0,-1):
    print(j,end="")
  print()

In [ ]:
for i in range(11):
  print(f'숫자:{i}')
  if i > 3:
    break
  else:
    print(f'\t제곱근:{i*i}')

숫자:0
	제곱근:0
숫자:1
	제곱근:1
숫자:2
	제곱근:4
숫자:3
	제곱근:9
숫자:4

In [ ]:
num = int(input())
for i in range(0,num+1,1):
  if i >= 6:
    break
  print(i,end="")

8
012345

In [75]:
sum = 0
while True:
  n = int(input())
  sum += n
  if n ==0:
    break
print(f'합계={sum}')

5
4
1
6
0
합계:16

In [86]:

sum = 0 
while True:
  
  n = int(input())
  
  if n >= 100:
    break
  sum += n
  
  
print(f'합계={sum}')

10
3
9
101
합계=22

In [89]:
sum = 0
while True:
  animal = input()
  
  if animal == '코알라':
    break
print(f'{n}회만에 정답을 맞추셨습니다길')

코알라
101회만에 정답을 맞추셨습니다길

In [94]:
num = [15,23,42,50,22,31,1]
for i in num:
  if i % 2 == 0:
    continue
  print(i,end=" ")

15 23 31 1

In [110]:
num=[1,2,3,3,4,5,6,7,2,3,8,9,10]
print(num.count(3))

3

In [114]:
n=[15,23,18,47,23]
e=0
o=0
for i in n:
  if i % 2==0:
    e +=1
  else:
    o += 1

print(f'홀수개수:{o}')
print(f'짝수개수:{e} ')

홀수개수:4
짝수개수:1

SyntaxError: ignored

In [129]:
alphaList=['a','b','c','d','e','f','g','h']
print(alphaList[4])
print(alphaList[3])

e
d

In [142]:
alphaList=['a','b','c','d','e','f','g','h']
print(alphaList)
print(alphaList[2:6])
print(alphaList[-6:-2])

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']
['c', 'd', 'e', 'f']
['c', 'd', 'e', 'f']

In [109]:

sum = 0
for i in range(5):
  num = int (input ("어떤 수? ")) 
  if num < 0 :
    continue
  sum += num


print(f"양수 합계; {sum}")

어떤 수? 15
어떤 수? -3
어떤 수? 20
어떤 수? -20
어떤 수? 15
양수 합계; 50

In [4]:
a = int(input("숫자를 입력하세요"))
b =0

for i in range(2,a):
  if a % i==0:
    b=1
if b==0:
  print("소수입니다")
else:
  print("소수가 아닙니다")

숫자를 입력하세요-1
숫자를 다시 입력하세요
소수입니다

In [6]:
for i in range(1,6):
  for j in range(1,i+1):
    print(i,end="")
  print()

1
22
333
4444
55555

In [8]:
for i in '''12345
 2345
  345
   45
    5'''.split("\n"):
    print(i)

12345
 2345
  345
   45
    5

In [8]:
s = list("12345")
for i in range(5):
    print(''.join(s))
    s[i] = ' '

12345
 2345
  345
   45
    5

In [11]:
s = list("12345")
for i in range(5):
    print(''.join(s))
    s[i] = ' '

12345
 2345
  345
   45
    5

In [9]:
flower=['장미','백합','튤립','국화','수선화']
for i in range(len(flower)):
  if len(flower[i]) == 3:
      print(flower[i])

수선화

In [23]:
flower =['장미','백합','튤립','국화','수선화']
flower.append('해바라기')
flower.sort(key = len,reverse=True)


for i in flower:
  print(f'{i}{len(i)}')

해바라기4
수선화3
장미2
백합2
튤립2
국화2

In [25]:
input_str = "<div>abc</div><p><em><i>test test test</b></em></p>"

# input_str = "<div></div><b></b></p></div>"

open_tag = []
close_tag = []

while input_str: # '' [] = false
    open_idx = input_str.find('<')
    close_idx = input_str.find('>')

    tag = input_str[open_idx + 1:close_idx] 

    if '/' in tag:
        close_tag.append(tag[1:])
    else:
        open_tag.append(tag)

    input_str = input_str[close_idx + 1:]



for c_tag in close_tag:
    if c_tag in open_tag:
        open_tag.remove(c_tag)

for u_tag in open_tag:
    print(u_tag)

i

In [32]:
def solution(s):
    answer=10000
    for n in range(1,len(s)//2+2):
        res=''
        cnt=1
        tmp=s[:n] #단위문자열 초기화

        for i in range(n,len(s)+n,n):
            if tmp == s[i:i+n]:
                cnt+=1
            else:
                if cnt==1:
                    res+=tmp
                else:
                    res+=str(cnt)+tmp
                tmp=s[i:i+n]
                cnt=1
        #print(res)
        answer=min(answer,len(res))
    return answer
string = input()
print(solution(string))

aabbaccc
7