<a href="https://colab.research.google.com/github/Leegyuho2/ict002python/blob/main/w7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
nlist=[11,23,5,7,15,9,8]
nlist.sort(reverse=True)

print(nlist)

[23, 15, 11, 9, 8, 7, 5]

In [12]:
num = (1,3,3,5,7,7,3,3,)
num.count(3)

4

In [16]:
num = (11,22,33,44,55)
for i in range(len(num)):
  print(num[i],end = ' ')

11 22 33 44 55

In [49]:
numlist =(20,30,15,31,23)


num(reverse=False)
for i in range(len(num)):
  print(num[i])
print("합계:",num[0]+num[1]+num[2]+num[3]+num[4])

AttributeError: ignored

In [56]:
numList = [[1,2,3],[2,3,5],[3,5,6]]
for i,j,e in numList:
  print(i,j,e)

1 2 3
2 3 5
3 5 6

In [75]:
s=[("인터넷","이정재","010-123-1234",90),("미디어","전지현","010-123-4560",80),("정통과","송혜교","010-123-2244",100),("컴퓨터","김소현","010-123-3555",85),("국문과","강하늘","010-123-7890",95)]
newS=sorted(s,key= lambda x:x[3],reverse=True)
print("학 과" ,"이  름","연락처",'       ',"점수")
for a,b,c,d in newS:

  print(a,b,c,d)

학 과 이  름 연락처         점수
정통과 송혜교 010-123-2244 100
국문과 강하늘 010-123-7890 95
인터넷 이정재 010-123-1234 90
컴퓨터 김소현 010-123-3555 85
미디어 전지현 010-123-4560 80

In [1]:
grade = {"아이키":90,"박보검":95,"유아인":85,"전지현":100,"송중기":90}
newgrade=sorted(grade.items(),key=lambda x:x[1],reverse=True)
sum=0
for k,v in newgrade:
  print(k,v)
  sum+=v
print('='*20)
print('합계:',sum)

전지현 100
박보검 95
아이키 90
송중기 90
유아인 85
====================
합계: 460

In [44]:
movie_list = [("오징어게임",50.45),("이터널스", 35.46), ("그레비티", 9.8), ("노타임투다이", 52.5),("스파이더맨", 15.47)]
movie_list = sorted(movie_list, key = lambda x:x[1], reverse = True)
movie = {}
for i,j in movie_list:
   
    movie[i] = j
count = 1
print('영화제목',' ','예매율','','순위')
print('='*7,'','='*6,'='*3)
for i in movie:
    print(i,'', movie[i], '', count)
    count += 1

영화제목   예매율  순위
=======  ====== ===
노타임투다이  52.5  1
오징어게임  50.45  2
이터널스  35.46  3
스파이더맨  15.47  4
그레비티  9.8  5

In [18]:
m = {"오징어게임":50.45,"이터널스":35.46,"그레비티":9.8,"노타임투다이":52.5,"스파이더맨":15.47}
newgrade=sorted(m.items(),key=lambda x:x[1],reverse=True)

for k,v in newgrade:

  print(k,v)

노타임투다이 52.5
오징어게임 50.45
이터널스 35.46
스파이더맨 15.47
그레비티 9.8