In [1]:
print('Hello world')

Hello world

In [8]:
print('10 + 10 =', 10+10 ,sep= '$')

10 + 10 =$20

In [13]:
print(1,2,3,4,5 ,sep='')

12345

In [17]:
print("ptrhon" , "program" ,sep='')

ptrhonprogram

In [21]:
print("파이썬 \n" * 5  )

파이썬
파이썬
파이썬
파이썬
파이썬

In [23]:
print("Python Program is Great Program!")

Python Program is Great Program!

In [28]:
print("50 + 50의 합= 100" ,sep='')

50 + 50의 합= 100

In [43]:
name = "홀길동"
age = "20"
print("나의 이름은" , name,"이다\n" , "나이는"  ,age,"세이다")

나의 이름은 홀길동 이다
 나이는 20 세이다

1.0

In [70]:
print('안녕하세요\n 딘입니다.')
print('안녕하세요\t 딘입니다.')
print('안녕하세요\b 딘입니다.')
print('안녕하세요\\ 딘입니다.')

안녕하세요
 딘입니다.
안녕하세요	 딘입니다.
안녕하세요 딘입니다.
안녕하세요\ 딘입니다.

In [72]:
b = 20
l = 20
sum  = b * l
print("직사각형의 넓이는=",sum)

직사각형의 넓이는= 400

In [65]:
국어 = 100
영어 = 80
수학 = 75
총점 = 국어 + 영어 + 수학 
평균 = 총점 /3
print("국어:",국어 )
print("영어:",영어 )
print("수학:",수학 )
print('총점:', 총점)
print("평균:{0:.2f}".format(평균))

국어:100
영어: 80
수학: 75
총점: 255
평균:85.00

In [55]:
heiht = 173.32342